*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, sans-serif;
}

body{
    background:#f5f7fa;
}

nav{
    background:#1e3a8a;
    color:white;
    padding:20px 50px;
    display:flex;
    justify-content:space-between;
    align-items:center;
}

.logo{
    font-size:24px;
    font-weight:bold;
}

nav ul{
    display:flex;
    list-style:none;
    gap:20px;
}

nav ul li a{
    color:white;
    text-decoration:none;
}

.hero{
    text-align:center;
    padding:100px 20px;
    background:linear-gradient(to right,#2563eb,#1e40af);
    color:white;
}

.hero h1{
    font-size:48px;
    margin-bottom:20px;
}

.hero p{
    font-size:20px;
    margin-bottom:30px;
}

.hero button{
    padding:12px 25px;
    border:none;
    border-radius:8px;
    cursor:pointer;
    font-size:16px;
}

.about{
    padding:70px 10%;
    text-align:center;
}

.about h2{
    margin-bottom:20px;
}

.why-volunteer{
    padding:70px 10%;
    background:white;
}

.why-volunteer h2{
    text-align:center;
    margin-bottom:40px;
}

.cards{
    display:flex;
    justify-content:center;
    gap:20px;
    flex-wrap:wrap;
}

.card{
    background:#f5f7fa;
    padding:25px;
    width:300px;
    border-radius:10px;
    box-shadow:0 4px 10px rgba(0,0,0,0.1);
}

.register{
    padding:70px 10%;
    text-align:center;
}

form{
    max-width:500px;
    margin:auto;
    display:flex;
    flex-direction:column;
    gap:15px;
}

input{
    padding:12px;
    border:1px solid #ccc;
    border-radius:6px;
}

form button{
    padding:12px;
    background:#2563eb;
    color:white;
    border:none;
    border-radius:6px;
    cursor:pointer;
}

footer{
    background:#1e3a8a;
    color:white;
    text-align:center;
    padding:20px;
    margin-top:40px;
}

.stats-section{
    padding:70px 10%;
    text-align:center;
}

.stats-container{
    display:flex;
    justify-content:center;
    gap:25px;
    flex-wrap:wrap;
    margin-top:30px;
}

.stat-card{
    background:white;
    width:250px;
    padding:30px;
    border-radius:12px;
    box-shadow:0 4px 12px rgba(0,0,0,0.1);
}

.stat-card h3{
    color:#2563eb;
    font-size:32px;
}

select{
    padding:12px;
    border:1px solid #ccc;
    border-radius:6px;
}

#chatbot{
    position:fixed;
    bottom:20px;
    right:20px;
    width:60px;
    height:60px;
    background:#2563eb;
    color:white;
    border-radius:50%;
    display:flex;
    justify-content:center;
    align-items:center;
    font-size:24px;
    cursor:pointer;
    box-shadow:0 4px 12px rgba(0,0,0,0.3);
}

.hero{
    text-align:center;
    padding:80px 20px;
    background:linear-gradient(135deg,#2563eb,#1e40af);
    color:white;
}

.hero h1{
    font-size:48px;
    margin-bottom:20px;
}

.hero p{
    font-size:20px;
    max-width:700px;
    margin:auto;
}

.hero-btn{
    margin-top:20px;
    padding:12px 25px;
    border:none;
    border-radius:8px;
    cursor:pointer;
    font-size:16px;
}